<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque beatae natus sapiente similique facere, excepturi ad temporibus reprehenderit repellendus, reiciendis at quas quibusdam incidunt, adipisci aliquam minima? Error, cumque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque beatae natus sapiente similique facere, excepturi ad temporibus reprehenderit repellendus, reiciendis at quas quibusdam incidunt, adipisci aliquam minima? Error, cumque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque beatae natus sapiente similique facere, excepturi ad temporibus reprehenderit repellendus, reiciendis at quas quibusdam incidunt, adipisci aliquam minima? Error, cumque!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>